
body{
    margin:0;
    font-family:Tahoma,Arial;
    background:#0b1220;
    color:#e5e7eb;
    direction:rtl;
}
header{
    background:#020617;
    padding:20px;
    text-align:center;
}
nav a{
    color:#38bdf8;
    margin:0 12px;
    text-decoration:none;
    font-weight:bold;
}
.hero{
    padding:60px;
    text-align:center;
}
.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px;
}
.card{
    background:#020617;
    border-radius:15px;
    padding:20px;
    text-align:center;
}
.card img{
    width:100%;
    border-radius:10px;
}
footer{
    background:#020617;
    text-align:center;
    padding:15px;
    margin-top:40px;
}
